<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-mJQ9cuOIeBlD_ENJZORegLr_OG0LCPw</string>
	<key>GCM_SENDER_ID</key>
	<string>305025420733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udaybharat.mart.user</string>
	<key>PROJECT_ID</key>
	<string>udaybharat-mart</string>
	<key>STORAGE_BUCKET</key>
	<string>udaybharat-mart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305025420733:ios:9d713ef50a726f87ae96d4</string>
</dict>
</plist>